<app-section id="productFeatures">
    <h2 translate="productFeatures.title"></h2>
    <div class="row mb-lg-5">
        <div class="col-lg-4 col-md-6">
            <app-feature feature="unique" icon="perm_identity" delay="delay-1"></app-feature>
        </div>
        <div class="col-lg-4 col-md-6">
            <app-feature feature="modern" icon="style" delay="delay-2"></app-feature>
        </div>
        <div class="col-lg-4 col-md-6">
            <app-feature feature="responsive" icon="mobile_friendly" delay="delay-3">
            </app-feature>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <app-feature feature="language" icon="language" delay="delay-4"></app-feature>
        </div>
        <div class="col-lg-4 col-md-6">
            <app-feature feature="seo" icon="search" delay="delay-5"></app-feature>
        </div>
        <div class="col-lg-4 col-md-6">
            <app-feature feature="analytics" icon="insert_chart_outlined" delay="delay-6">
            </app-feature>
        </div>
    </div>
</app-section>