<mat-card>
    <div class="card-background"></div>
    <div class="card-content">
        <div class="bio-img">
            <img [src]="'assets/images/' + person + '.jpg'">
        </div>
        <h3 class="mb-2 mt-2">{{'aboutUs.' + person + '.name' | translate}}</h3>
        <p>{{'aboutUs.' + person + '.bio' | translate}}</p>
    </div>
    <div class="card-footer">
        <a class="social-media" [href]="getEmail()" target="_blank">
            <img src="assets/icons/email.svg">
        </a>
        <a class="social-media" [href]="getLinkedin()" target="_blank">
            <img src="assets/icons/linkedin.svg">
        </a>
    </div>
</mat-card>