@import '../variables.scss';

#aboutUs .section {
    background-color: var(--background-default);
}

.mat-card {
    background-color: var(--background-secondary);
    max-width: 400px;
    min-width: 300px;
    margin: 3% 1%;
    border-radius: 25px !important;
    padding: 0px !important;
    height: 100%;

    & > p {
      text-align: center;
    }
}

.card-background {
    height: 120px;
    background: var(--background-primary);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.card-footer {
    border-bottom-right-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.social-media {
    padding: 0px 10%;
    opacity: 0.3;
    cursor: pointer;
    img {
        width: 24px;
        height: 24px;
    }
}

.social-media:hover {
    opacity: 0.6;
}

.bio {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.bio-img {
    width: 120px;
    height: 120px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border-radius: 50%;
    position: absolute;
    top: 60px;
    left: calc(50% - 60px);
    border: 3px solid #FFFFFF;
    -webkit-box-shadow: 0px 4px 10px rgb(111 112 115 / 30%);
    box-shadow: 0px 4px 10px rgb(111 112 115 / 30%);
    overflow: hidden;

    img {
        width: 120px;
        height: 120px;
    }
}

.card-content {
    padding: 60px 7% 60px 7%;

    p {
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: $mobile-resolution) {
    .bio {
        flex-direction: column;
        width: unset;
    }
}