#footer .section {
    background-color: var(--text);
    min-height: unset;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.heart.mat-icon {
    color: #ef4b4b ;
    height: 15px;
    font-size: 15px;
}

.link:hover {
    text-decoration: none;
    span {
        color: var(--secondary);
    }
}