#howItWorks .section {
    background-color: var(--background-secondary);
}

#howItWorks .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.how-it-works-page {
  &::after {
    content: "";
    height: 76%;
    top: 30px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 1px;
    background-color: var(--secondary-opacity);
  }

  .works-description-right {
    text-align: left;
    float: left;
    border-radius: 8px;
    padding: 20px;
    margin: 0px !important;

    &::after{
      content: "";
      transition: all 0.5s ease;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 22px;
      z-index: 1;
      background-color: var(--secondary);
      left: -8px;
    }
  }

  .works-description-left {
    text-align: right;
    float: right;
    border-radius: 8px;
    padding: 20px;
    margin: 0px !important;

    &::after {
      content: "";
      transition: all 0.5s ease;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 22px;
      z-index: 1;
      background-color: var(--secondary);
      right: -7px;
    }

    p {
      text-align: right;
    }
  }

  .slide-right {
    left: 850px;
    transition: 1s;
  }

  .slide-left {
    right: 850px;
    transition: 1s;
  }

  .slide-from-right {
    transition: 1s;
    left: 0;
  }

  .slide-from-left {
    transition: 1s;
    right: 0;
  }
}

.align-items-start {
  align-items: flex-start!important;
}

.margin-top-0 {
  margin-top: 0;
}

.how-it-works-item {
  .img-fluid {
    max-width: 80%;
  }
}

@media only screen and (max-width: $tablet-resolution) {
  .how-it-works-item .works-description-left::after {
      left: 0px;
      top: 25px;
  }

  .how-it-works-item .works-description-left {
    text-align: left;

    p {
      text-align: left;
    }
  }

  .how-it-works-page::after {
    margin: 0;
    height: 100%;
    top: 380px;
    left: 7px;
  }

  .how-it-works-page .works-description-right::after {
    left: 0px;
  }

  .how-it-works-item {
    .img-fluid {
      max-width: 50%;
    }
  }

  .container {
    max-width: 720px !important;
    padding: 0px;
  }
}

@media only screen and (max-width: $mobile-resolution) {
  .how-it-works-page::after {
    top: calc(370px - ((769px - 100vw) * 0.45));
  }
}
