#howItWorks .section {
    background-color: var(--background-secondary);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.how-it-works-page {
  &::after {
    content: "";
    height: 77%;
    top: 30px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 1px;
    background-color: var(--secondary-opacity);
  }

  .works-description-right {
    text-align: left;
    float: left;
    border-radius: 8px;
    padding: 20px;

    &::after{
      content: "";
      transition: all 0.5s ease;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 22px;
      z-index: 1;
      background-color: var(--secondary);
      left: -8px;
    }
  }

  .works-description-left {
    text-align: right;
    float: right;
    border-radius: 8px;
    padding: 20px;

    &::after {
      content: "";
      transition: all 0.5s ease;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      position: absolute;
      top: 22px;
      z-index: 1;
      background-color: var(--secondary);
      right: -7px;
    }
  }
}

.align-items-start {
  align-items: flex-start!important;
}

.margin-top-0 {
  margin-top: 0;
}

@media only screen and (max-width: $tablet-resolution) {
  .how-it-works-item .works-description-left::after {
      left: -7px;
      top: 25px;
  }

  .how-it-works-item .works-description-left {
    text-align: left;
  }

  .how-it-works-page::after {
    margin: 0;
    height: 78%;
    top: 380px;
  }

  .how-it-works-page .works-description-right::after {
    left: -7px;
  }

  .how-it-works-item {
    .img-fluid {
      max-width: 50%;
    }
  }

  .container {
    max-width: 720px !important;
  }
}

@media only screen and (max-width: $mobile-resolution) {
  .how-it-works-page::after {
    height: 78%;
    top: calc(360px - ((769px - 100vw) * 0.45));
  }
}

@media only screen and (max-width: 540px) {
  .how-it-works-page::after {
    height: 80%;
  }
}

@media only screen and (max-width: 425px) {
  .how-it-works-page::after {
    height: 81%;
  }
}

@media only screen and (max-width: 425px) {
  .how-it-works-page::after {
    height: 83%;
  }
}

@media only screen and (max-width: 414px) {
  .how-it-works-page::after {
    height: 82%;
  }
}

@media only screen and (max-width: 390px) {
  .how-it-works-page::after {
    height: 83%;
  }
}
