.navbar {
    padding: 1% 0;
    background: var(--background-primary);
    color: var(--primary);
    font-family: 'Raleway', sans-serif;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-family: 'Merriweather Sans', sans-serif;
}

.nav-item {
    cursor: pointer;
}

.lang-dropdown {
  color: var(--primary) !important;
  background-color: transparent !important;
  border-color: transparent !important;
  padding: 8px;
}

.btn-secondary.dropdown-toggle:focus {
  box-shadow: none !important;
}

.dropdown-menu {
  min-width: 0 !important;
}

.dropdown-menu:before {
  content: "";
    display: block;
    font-size: 1px;
    position: absolute;
    right: calc(50% - 25px);
    top: -10px;
    transform: rotate(-45deg);
    z-index: 50;
    border-color: transparent;
    border-style: solid;
    border-width: 10px;
    background-color: var(--background-secondary);
    border-top-right-radius: 1px;
    box-shadow: 0.75em -0.75em rgb(0, 0, 0, 0.25);
}

.margin-left-10 {
  margin-left: 10px;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-toggler {
  position: relative;
  float:right;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 56px;
  font-size: 0;
  box-shadow: none;
  border: none;

  &:focus {
    outline: none;
  }

  span {
    top: 49%;
    display: block;
    position: absolute;
    left: 15px;
    right: 60px;
    height: 3px;
    background: var(--secondary);
    border-radius: 0.5rem;

    &::before, &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: var(--secondary);
      border-radius: 0.5rem;
      content:"";
    }

    &::before {
      top: -7px;
    }

    &::after {
      bottom: -7px;
    }
  }

}
.toggler {
  background: none;

  span {
    transition: background 0s 0.3s;

    &::before, &::after {
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0s;
    }

    &::before {
      transition-property: top, transform;
    }

    &::after {
      transition-property: bottom, transform;
    }
  }

  &.close {
    background: none;

    span {
      background: none;

      &::before {
        top: 0;
        transform: rotate(45deg);
      }

      &::after {
        bottom: 0;
        transform: rotate(-45deg);
      }

      &::before, &::after {
        transition-delay: 0s, 0.3s;
      }
    }
  }
}


.nav-text-color {
  color: var(--primary);
}

.nav-item-border {
  border-bottom: none;
}

@media only screen and (max-width: $mobile-resolution) {
  .navbar-expand-custom {
    background-color: var(--background-secondary);

    .nav-link {
      padding: .5rem 1rem;
    }
  }

  .lang-dropdown {
    padding-left: 15px;
  }

  .navbar {
    padding: 1% 0;
    background: var(--background-secondary);
    font-family: 'Raleway', sans-serif;
    position: fixed;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  }

  .nav-text-color {
    color: var(--secondary) !important;
  }

  .nav-item-border {
    border-bottom: 1px solid #EEE;
  }

  .dropdown-menu.show {
    display: flex;
  }

  .dropdown-menu:before {
    content: "";
    left: 39px;
    top: 35px;
    right: unset;
  }
}

@media (min-width: $mobile-resolution){
  .navbar-expand-custom {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
      flex-direction: row;
  }
  .navbar-expand-custom .dropdown-menu {
      position: absolute;
      left: -50px;
  }
  .navbar-expand-custom .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
  }
  .navbar-expand-custom > .container {
      flex-wrap: nowrap;
  }
  .navbar-expand-custom .navbar-collapse {
      display: flex!important;
      flex-basis: auto;
  }
  .navbar-expand-custom .navbar-toggler {
      display: none;
  }
}
