<div class="review">
    <div class="info">
        <div class="name">
            <h3>{{'reviews.' + id + '.name' | translate}}</h3>
            <span>{{'reviews.' + id + '.job' | translate}}</span>
            <div class="stars">
                <mat-icon *ngFor="let e of [].constructor(5)">star</mat-icon>
            </div>
        </div>
        <div class="logo">
            <img [src]="'assets/images/portfolio/logos/' + id + '.png'">
        </div>
    </div>
    <div class="paragraph">
        <mat-icon>format_quote</mat-icon>
        <p>{{'reviews.' + id + '.text' | translate}}</p>
    </div>
</div>