<div *ngIf="rowType === 'left'" class="row">
  <div [id]="delay" class="col-lg-6" [ngClass]="!animation ? 'slide-left' : 'slide-from-left'">
    <div class="text-center mb-lg-0">
      <img [src]=imgSrc alt="work" class="img-fluid">
    </div>
  </div>
  <div [id]="delay" class="col-lg-6"
    [ngClass]="!animation ? 'slide-right' : 'slide-from-right'">
    <div class="works-description-right mx-lg-3 mx-4">
      <h3 class="mb-2">{{subtitle | translate }}</h3>
      <p>{{description | translate }}</p>
    </div>
  </div>
</div>

<div *ngIf="rowType === 'right'" class="row" [ngClass]="rowClass">
  <div [id]="delay" class="col-lg-6" [ngClass]="!animation ? 'slide-left' : 'slide-from-left'">
    <div class="works-description-left mx-lg-3 mx-4">
      <h3 class="mb-2">{{subtitle | translate }}</h3>
      <p>{{description | translate }}</p>
    </div>
  </div>
  <div [id]="delay" class="col-lg-6 order-first order-lg-last"
    [ngClass]="!animation ? 'slide-right' : 'slide-from-right'">
    <div class="text-center mb-lg-0">
      <img [src]=imgSrc alt="work" class="img-fluid">
    </div>
  </div>
</div>
