<app-section id="pricing">
    <h2 translate="pricing.title" class="mb-4"></h2>

    <div class="price-list">
        <div class="row">
            <div class="col-md-10 col-sm-12">
                <h3 translate="pricing.web.title"></h3>
                <p translate="pricing.web.subtitle"></p>
                <ul>
                    <li><span translate="pricing.web.subtitle.1"></span></li>
                    <li><span translate="pricing.web.subtitle.2"></span></li>
                    <li><span translate="pricing.web.subtitle.3"></span></li>
                    <li><span translate="pricing.web.subtitle.4"></span></li>  
                </ul> 
            </div>
            <div class="col-md-2 col-sm-12">
                <span>200 €</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-12">
                <h3 translate="pricing.section.title"></h3>
                <p translate="pricing.section.subtitle"></p>
            </div>
            <div class="col-md-2 col-sm-12">
                <span>40 €</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-12">
                <h3 translate="pricing.complex.title"></h3>
                <p translate="pricing.complex.subtitle"></p>
            </div>
            <div class="col-md-2 col-sm-12">
                <span>70 €</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-12">
                <h3 translate="pricing.multilanguage.title"></h3>
                <p translate="pricing.multilanguage.subtitle"></p>
            </div>
            <div class="col-md-2 col-sm-12">
                <span>15 €</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-12">
                <h3 translate="pricing.form.title"></h3>
                <p translate="pricing.form.subtitle"></p>
            </div>
            <div class="col-md-2 col-sm-12">
                <span>60 €</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-12">
                <h3 translate="pricing.animation.title"></h3>
                <p translate="pricing.animation.subtitle"></p>
            </div>
            <div class="col-md-2 col-sm-12">
                <span>40 €</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 tax">
                <mat-icon>info</mat-icon>
                <p translate="pricing.tax"></p>
            </div>
        </div>
    </div>
</app-section>