<nav class="navbar navbar-expand-lg navbar-top navbar-fixed navbar-opaque">
    <div class="container">
        <a class="navbar-brand">
            <mat-icon svgIcon="fancyweb_logo"></mat-icon>
            <span translate="title"></span>
        </a>
        <ul class="nav navbar-nav ms-auto nav-no-opacity">
            <app-navigation-item title="header"></app-navigation-item>
            <app-navigation-item title="ourServices"></app-navigation-item>
            <app-navigation-item title="portfolio"></app-navigation-item>
            <app-navigation-item title="aboutUs"></app-navigation-item>
            <app-navigation-item title="contact"></app-navigation-item>
        </ul>
    </div>
</nav>