<app-section id="reviews">
    <h2 translate="reviews.title" class="mb-4"></h2>
    <div class="review-list">
        <div style="float: left" class="desktop-only">
            <button mat-icon-button (click)="scrollLeft()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
        </div>
        <div #widgetsContent class="reviews">
            <app-review id="vimiova"></app-review>
            <app-review id="vitaamoris"></app-review>
            <app-review id="i-imko"></app-review>
            <app-review id="klimatel"></app-review>
            <app-review id="kvetinarstvo"></app-review>
            <app-review id="perfect2003"></app-review>
        </div>
        <div style="float: right" class="desktop-only">
            <button mat-icon-button (click)="scrollRight()">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
</app-section>