@use '@angular/material' as mat;
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@include mat.core();

@import 'variables';
@import 'styles/about-us.scss';
@import 'styles/build-your-web.scss';
@import 'styles/contact.scss';
@import 'styles/footer.scss';
@import 'styles/header.scss';
@import 'styles/how-it-works.scss';
@import 'styles/navigation.scss';
@import 'styles/portfolio.scss';
@import 'styles/product-features.scss';
@import 'styles/reviews.scss';

body {
    background-color: var(--background-default);
}

.container {
    max-width: 1200px;
}

.section {
    min-height: 50vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: var(--primary);
    font-family: var(--font-family-title);
    font-weight: bold;
}

h2 {
    text-transform: uppercase;
    font-size: 23px;
    color: var(--secondary);
    font-family: var(--font-family);
}

h3 {
    font-size: 16px;
    color: var(--text);
    font-family: var(--font-family-title);
    margin-bottom: 20px;
    font-weight: bold;
}

.primary {
    color: var(--primary);
}

p, span {
    font-family: var(--font-family-title);
    color: var(--text);
    font-size: 16px;
}

p {
    text-align: left;
}

span {
    text-align: center;
}

.mt {
    margin-top: 7%;
}


.desktop-only {
    display: block
}

.mobile-only {
    display: none
}

.flex {
  display: flex;
}

.mat-raised-button {
    line-height: 1.5 !important;
    padding: 10px 30px !important;
    color: var(--secondary);
    font-weight: 600;
    border-radius: 35px !important;
}

.cookie-button-allow {
  line-height: 1.5 !important;
  padding: 10px 30px !important;
  color: var(--background-primary-2);
  border-radius: 35px !important;
  margin: 5px !important;
}

.cookie-button-deny {
  line-height: 1.5 !important;
  padding: 10px 30px !important;
  background-color: var(--background-secondary) !important;
  border-radius: 35px !important;
  margin: 5px !important;
  color: var(--text) !important;
}

button:focus {
  outline: 0px;
}


.scrollToTop.mat-mini-fab{
    position: fixed;
    background-color: var(--yellow);
    top: auto;
    left: auto;
    right: 30px;
    bottom: 30px;

    .mat-icon {
        transform: rotate(90deg);
        margin-bottom: -7px;
    }
}

.no-margin {
    margin: 0px;
}

@media only screen and (max-width: $mobile-resolution) {
  .section {
      padding-right: 5%;
      padding-left: 5%;
  }

  .mobile-only {
      display: block
  }

  .desktop-only {
      display: none
  }

  h2 {
      margin-bottom: 10%;
  }

  .cc-window.cc-banner {
    align-items: center !important;
    flex-direction: column !important;
  }

  .cc-banner.cc-theme-edgeless .cc-message {
    margin: 1em;
  }

  .cc-revoke.cc-bottom {
    display: none;
  }
}
