$background-primary: linear-gradient(90deg, var(--background-primary-1) 0%, var(--background-primary-2) 68%, var(--background-primary-2) 100%);
$background-secondary: #ffffff;
$background-default: #fbfbfb;
$primary: #fbfbfb;
$secondary: #3565c8;
$text: #0d1932;
$background-primary-1: #437ffa;
$background-primary-1-opacity: rgba(67, 127, 250, 0.2);
$secondary-opacity: $background-primary-1-opacity;
$background-primary-2: #bd3db9;
$mobile-resolution: 769px;
$tablet-resolution: 992px;
$shadow-color: rgb(0 0 0 / 10%);
$yellow: #f9e84a;
$font-family: 'Raleway', sans-serif;
$font-family-title: 'Merriweather Sans', sans-serif;

:root {
    --background-primary: #{$background-primary};
    --background-primary-1: #{$background-primary-1};
    --background-primary-1-opacity: #{$background-primary-1-opacity};
    --background-primary-2: #{$background-primary-2};
    --background-secondary: #{$background-secondary};
    --background-default: #{$background-default};
    --primary: #{$primary};
    --secondary: #{$secondary};
    --secondary-opacity: #{$secondary-opacity};
    --text: #{$text};
    --shadow-color: #{$shadow-color};
    --yellow: #{$yellow};
    --font-family: #{$font-family};
    --font-family-title: #{$font-family-title};
}
